.footer li {
  font-size: 0;
  display: inline;
}

.footer i {
  font-size: 30px;
  color: black;
  background: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
}

.icons {
  font-size: 40px;
  color: red;
  background: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
}

h1 {
  font-size: 66px;
  color: white;
}

h2 {
  font-size: 46px;
  color: white;
}

h3 {
  font-size: 34px;
  color: black;
  text-align: center;
}

h4 {
  font-size: 20px;
  color: black;
  text-align: center;
}

.text {
  text-align: center;
}

.card-body {
  text-align: center;
}

.row2 {
  border-width: 1px;
  border-color: red;
  border-style: solid;
}

.btn {
  min-width: 130px;
  margin: 20px auto 0 auto;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}
